<body>
    <div class="container">
      <button class="back-btn" (click)="goBack()">Retour</button>
      <h2>📝 Historique des Commentaires</h2>

      <!-- Barre de recherche -->
      <input type="text" placeholder="Rechercher un quiz..." [(ngModel)]="searchTerm" (input)="filterComments()" class="search-bar">

      <div *ngFor="let quiz of filteredComments" class="quiz-box">
        <h3>📖 {{ quiz.quizTitle }}</h3>

        <div class="comments-list">
          <div *ngFor="let comment of quiz.comments" class="comment-card">
            <p><strong>{{ comment.username }}</strong> :</p>
            <p class="comment-text">"{{ comment.comment }}"</p>
            <p class="comment-date">🕒 {{ comment.created_at | date: 'short' }}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
