<div class="home-page">

  <div class="quiz-logo-container">
    <div class="quiz-logo">
      <div class="question-marks">
        <span>?</span>
        <span>?</span>
        <span>?</span>
      </div>
      <h1>Bienvenue, {{ username }}</h1>
    </div>
  </div>

  <!-- Conteneur des options de quiz avec la carte centrale -->
  <div class="quiz-options">
    <a routerLink="/create-quiz" class="quiz-option side-card">Créer un Quiz</a>
    <a routerLink="/quiz-list" class="quiz-option side-card">Voir les Quiz</a>
    <a routerLink="/statistics" class="quiz-option center-card">Statistiques et Classement</a>
    <a routerLink="/notifications" class="quiz-option side-card">Notifications</a>
    <a routerLink="/comments-history" class="quiz-option side-card">Historique des commentaires</a>
  </div>
</div>
